

h1 {
    color: #333;
}

form {
    margin: 20px 0;
}

label {
    font-weight: bold;
}

button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}
body {
    background: url("../images/logo.png") no-repeat center center fixed;
    background-size: cover;
font-family: Arial, sans-serif;
    margin: 20px;

}
#error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #f5c6cb;
}