<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles4.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">Register</h1>

        

        <form action="{{ url_for('register') }}" method="POST" class="form-container">
            <label for="username" class="label">Username</label>
            <input type="text" id="username" name="username" required class="input-field">

           

            <label for="password" class="label">Password</label>
            <input type="password" id="password" name="password" required class="input-field">

            <button type="submit" class="submit-btn">Register</button>
        </form>

        <div class="footer">
            <p>Existing user? <a href="{{ url_for('login') }}" class="link">Login</a></p>
<a href="{{ url_for('index') }}" style="display: inline-block; padding: 10px 20px; margin: 10px 0; font-size: 16px; color: #fff; background-color: #28a745; text-decoration: none; border-radius: 5px; border: none; text-align: center; cursor: pointer;">
home</a>
        </div>
    </div>

</body>
</html>
 